body {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 240px  240px  240px;
    grid-template-areas:
    "header header  header"
        "content content content";
    background-color: #fff;
    color: #444;
    margin: 0px;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
    background-color: #90EE90;
    margin: 0px;
}

h1.title {
    
}
